* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-content: center;
    background: url("background_2_small.jpg");
    background-size: cover ;
    min-height: 100vh;
    align-items: center;

}
.container{
    width: 70%;
    max-width: 350px;
    background: rgba(0,0,0,0.5);
    padding: 28px;
    margin:  0 28px;
    border-radius: 10px;
    box-shadow: inset -2px 2px 2px white;
    height: 80vh;

}
.form-title {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: white;
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 1px white;
}
.main-user-info{
    display: marker;
    flex-wrap: wrap-reverse;
    padding: 20px 0;
}

.user-input-box{
    display: initial;
    flex-wrap: inherit;
    width: 50%;
    padding-bottom: 25px;
}
.user-input-box label{
    width: 95%;
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin: 9px 0;
    display: flex;

}
.user-input-box input{
    height: 40px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 1px solid gray;
    padding: 0 30px;
}

.form-submit-btn input{
    cursor: pointer;
}
.form-submit-btn{
    margin-top: 40px;
    text-align: center;
    color: white;
    
}
.form-submit-btn input{
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: rgb(209,209,209);
    background: blueviolet;
}
.form-submit-btn input:hover{
    background: darkslateblue;
    color: rgb(225,225,225);
}
