* {
    margin: 0;
    padding:0;
    font-family:'poppins',sans-serif;
}
section{
    display: flex;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: url("background_2_small.jpg");
    background-size: cover ;

}
.form-box{

    width: 400px;
    height: 330px;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 650px;
    background: rgba(0,0,0,0.5);
}
h2{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 5px;
    color: white;
    text-shadow: 2px 2px 2px black;
}
.input-box {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid white;
}
.input-box label{
     position: absolute;
     top: 50%;
     left: 5px;
     transform: translateY(-50%);
     color: white;
     font-size: 1em;
     pointer-events: none;
    transition: .5s;

 }

input:focus ~ label,
input:valid ~ label {
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: white;
}

.input-box ion-icon{
    position: absolute;
    right: 8px;
    color: white;
    font-size: 1.2em;
    top: 20px;
}

.forget{
    margin: -15px 0 15px;
    font-size: .9em;
    color: white;
    display: flex;
    justify-content: center;

}
.forget label input{

    margin-right: 3px;
}

.forget label a{
    color: white;
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;
}

.Registration{
    font-size: .9em;
    color: white;
    text-align: center;
    margin: 25px 0 10px;
}
.Registration p a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.Registration p a:hover{
    text-decoration: underline;
}

.form-submit-btn input{
    cursor: pointer;
}
.form-submit-btn{
    margin-top: 40px;
}
.form-submit-btn input{
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: rgb(209,209,209);
    background: blueviolet;
}
.form-submit-btn input:hover {
    background: darkslateblue;
    color: rgb(225, 225, 225);
}